# Dependencias
/node_modules

# Builds locales
/.next
/out
/build

# Configuración local
.env*
.env.local
.vercel

# Sistemas operativos
.DS_Store

# Editors
.idea
.vscode

# Logs
*.log
npm-debug.log*

# Testing
/coverage

# → Archivos QUE SÍ deben incluirse (NO ignorar):
# package-lock.json / yarn.lock
# next.config.js
# public/ y pages/